<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="xin.inote"></context:component-scan>
    <bean id="email" abstract="true" scope="prototype">
        <property name="hostName" value="smtp.163.com"></property>
        <property name="smtpPort" value="465"></property>
        <property name="authenticator">
            <bean class="org.apache.commons.mail.DefaultAuthenticator">
                <constructor-arg name="userName" value="123456@163.com"/>
                <constructor-arg name="password" value="123456"/>
            </bean>
        </property>
        <property name="SSLOnConnect" value="true"/>
        <property name="from" value="123456@163.com"/>
        <property name="charset" value="UTF-8"/>
    </bean>
    <bean id="simpleEmail" class="org.apache.commons.mail.SimpleEmail" parent="email"></bean>
    <bean id="htmlEmail" class="org.apache.commons.mail.HtmlEmail" parent="email"></bean>
</beans>